.code-sample {
    display: block;
    unicode-bidi: embed;
    font-family: "Source Code Pro", monospace;
    white-space: pre;
    border: 1px solid #000000;
    font-size: 12pt;
}

.profile-sample {
    float: left;
    text-align: left;
    font-size: 80%;
}

.downloadable-code-sample {
    display: none;
}

.code-sample-download-link {
    text-align: right;
    font-size: 80%;
    width: 100%;
    display: block;
}
